/* style.css */

body{
    font-family: Arial;
    margin: 20px;
}

h1{
    color: blue;
}

input, textarea{
    width: 300px;
    padding: 10px;
}

button{
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
}